<template name="extraModal">
    <div class="ui modal" id="extra-modal" style="overflow-y: scroll">
        <i class="close icon"></i>
        <div class="header">Add Extra</div>
        <div class="content">
            <div class="ui grid form" id="extra-modal-form">
                <div class="sixteen wide column">
                    <div class="field">
                        <label>OPTION NAME</label>
                        <input type="text" placeholder="Name" name="extras_grp_name" id="extras-grp-name">
                    </div>
                </div>
                {{>extraModalLinesHeader}}
                <!--fields-->
                {{#each addIndex existingExtras.options}}
                   {{>extraModalLine}}
                {{/each}}
                {{>addModalLine}}
            </div>
        </div>

        <div class="actions">
            <div class="ui grid">
                <div class="ui eight wide column">
                    <div class="ui basic button cancel aligned">Cancel</div>
                </div>
                <div class="ui eight wide column">
                    <div class="ui basic button ok aligned" id="confirm-extra-modal">Save</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="extraModalLinesHeader">
    <!--Header-->
    <div class="nine wide column">OPTION</div>
    <div class="two wide column">
    </div>
    <div class="four wide column">Price</div>
</template>

<template name="extraModalLine">
    <div class="ten wide column">
        <div class="field">
            <input type="text" placeholder="Name" name="extra_line_name" class="extra-line-name">
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="three wide column">
        <div class="field">
            <input type="text" placeholder="Price" name="extra_line_price" class="extra-line-price">
        </div>
    </div>
    <div class="one wide column"></div>
    <div class="one wide column"><div class="red ui button" id="remove-extra-line">-</div></div>
</template>

<template name="addModalLine">
    <div class="fifteen wide column">
    </div>
    <div class="one wide column">  <div class="ui green circular ui button" id="add-extra-line" style="min-height: 10px">
        <i class="plus icon"></i>
    </div></div>
</template>