<template name="newItemModal">
    <div class="ui modal" id="new-item-modal" style="overflow-y: scroll">
        <i class="close icon"></i>

        <div class="header">Item</div>
        <div class="content">
            <div class="ui form grid" id="item-form">
                <div class="eleven wide column">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="item-name" id="new-item-name">
                    </div>
                </div>
                <div class="one wide column"></div>
                <div class="four wide column">
                    <div class="field">
                        <label>Price</label>
                        <input type="number" name="item-price" id="new-item-price">
                    </div>
                </div>
                <div class="eleven wide column">
                    <div class="field">
                        <label>Description</label>
                        <textarea  name="item-desc" id="new-item-desc">
                        </textarea>
                    </div>
                </div>
                <div class="one wide column"></div>
                <div class="four wide column">
                    <div class="four row column">
                        <div class="left floated column">
                            Type
                        </div>
                        <div class="right floated column">
                            Info
                        </div>
                    </div>
                    <div class="sixteen wide column"></div>
                    <div class="sixteen wide column">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="food-type" data-tic="41000" checked="">
                                    <label>Prepared Food</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="food-type" data-tic="90012" checked="">
                                    <label>Unprepared Food</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="food-type" data-tic="41030" checked="">
                                    <label>Bakery</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="food-type" data-tic="00000" checked="">
                                    <label>General</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="four row column">
                            <div class="left floated column">
                                EXTRAS
                            </div>
                            <div class="right floated column">
                                Info
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide column"></div>
                    <div class="sixteen wide column">
                        <div class="inline fields">
                            <div class="field">
                                <div class="ui toggle checkbox">
                                    <input type="checkbox" name="extras-checkbox" id="extras_toggle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{>extrasArea }}
            </div>
        </div>

        <div class="actions">
            <div class="ui grid">
                <div class="ui eight wide column">
                    <div class="ui basic button cancel aligned">Cancel</div>
                </div>
                <div class="ui eight wide column">
                    <div class="ui basic button ok aligned" id="confirm-item-modal">Save</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="currentExtras">
    <h4>Current Extras</h4>
    <div class="ui four column divided grid">
        {{#each addIndex currentSelectedOptions}}
            <div class="column item-existing-extras">
                <div class="ui segment">
                    <div style="float:left; width:50%">
                        {{this.value.name}}
                    </div>
                        <div style="min-height:0; width: 30px; height: 30px; padding: .5em; float:right" class="ui red circular icon button remove-existing-item-extra">
                            <i class="minus icon"></i>
                        </div>
                </div>
            </div>
        {{/each}}
    </div>
</template>

<template name="extrasTypeAhead">
    <input class="typeahead" name="extras" type="text"
           placeholder="Extras"
           autocomplete="off" spellcheck="off"
           data-source="existingExtras"
           data-selected="selected"/>
</template>

<template name="extrasArea">
    {{#if extrasEnabled}}
        <div class="thirteen wide column">
            <div class="field">
                <label>Existing Options</label>
                {{>extrasTypeAhead}}
            </div>
        </div>
        <div class="one wide column" style="padding-left:1em; padding-top:4em">
            OR
        </div>
        <div class="two wide column" id="add-new-extra">
            <div class="ui green basic button" id="add-extra-button" style="margin-left:1em; margin-top:1.4em">
                Add
            </div>
        </div>
    {{/if}}
    {{#if item.item.extras}}
        <div class="sixteen wide column">
            <label>Included</label>
        </div>
    {{/if}}
    {{#each item.item.extras}}
        <div class="four wide column"><input type="text" name="options-name" placeholder="{{name}}" readonly></div>
        <div class="one wide column"></div>
    {{/each}}
</template>