<template name="menuCategory">
    <div class="ui divider"></div>
    <div class="category-header ui grid">
        <div class="ten wide column">
            <h2 class="ui header">
                <i class="align justify icon"></i>
                <div class="content">
                    {{this.value.name}}
                </div>
            </h2>
        </div>
        <div class="two wide column add-category-item">
            + Item
        </div>
        <div class="two wide column edit-category">
            Edit
        </div>
        <div class="one wide column">
        </div>
        <div class="one wide column remove-menu-category">
            <div style="color:red"> X </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="category-items">
        <div class="ui grid">
        {{#each addParentIndex this.value.items this.index}}
           {{>categoryItem}}
        {{/each}}
        </div>
    </div>
</template>

<template name="categoryItem">
    <div class="one wide column"></div>
    <div class="nine wide column">
        <h3 class="ui header">
            <i class="align justify icon"></i>
            <div class="content">
                {{item.name}}
            </div>
        </h3>
    </div>
    <div class="two wide column">
        ${{item.price}}
    </div>
    <div class="two wide column edit-category-item" >
        Edit
    </div>
    <div class="one wide column"></div>
    <div class="one wide column">
        <div style="color:red" class="remove-category-item"> X </div>
    </div>

    <div class="two wide column"></div>
    <div class="eight wide column">
        {{item.description}}
    </div>
    {{#if item.extras}}
        <div class="four wide column"></div>

        <div class="three wide column"></div>
        <div class="nine wide column">
            <b>Extras:</b>
            {{#each item.extras}}
                {{name}}
            {{/each}}
        </div>
        <div class="four wide column"></div>
    {{/if}}
</template>
