<template name="menuDisplay">
    <div class="ui segment">
        <h2 class="partner-menu-header" align="center">{{partner.name}}</h2>
        <div class="ui top attached tabular menu">
            {{#if menus}}
                {{#each addIndex menus}}
                    <div class="{{firstActive}} menu-tab item" data-tab="{{this.value.name}}-{{this.index}}">{{this.value.name}}</div>
                {{/each}}
                <div class="item" id="add-menu-tab-button">
                    <i class="green plus icon"></i>
                </div>
            {{else}}
                <div class="active item" id="add-menu-tab-button">
                    <i class="green plus icon"></i>
                </div>
            {{/if}}
        </div>
        {{#each addIndex menus}}
            <div class="{{firstActive}} menu-tab-content ui bottom attached tab segment" data-tab="{{this.value.name}}-{{this.index}}">
                <div class="ui grid">
                    <div class="twelve wide column"></div>
                    <div class="two wide column add-menu-category">
                        + Category
                    </div>
                    <div class="one wide column"></div>
                    <div class="one wide column remove-menu">
                        <div style="color:red"> X </div>
                    </div>
                </div>
                {{#each addIndex this.value.categories}}
                    {{>menuCategory}}
                {{/each}}
                <div class="ui divider"></div>
            </div>
        {{/each}}
    </div>
</template>