<template name="menuEditor">
    <div class="container">
        {{>menuDisplay}}
    </div>
    {{#if hasChanged}}
        <div id="save-footer">
            <h1 style="padding-top:10px">Save</h1>
        </div>
    {{/if}}
    {{>newItemModal}}
    {{>extraModal}}
</template>
